/* CSS Document */

em.undefined {background: red;}

em {font-style: inherit;}
em.smallcaps {font-variant: small-caps;}
em.underlined {text-decoration: underline; }
em.italics {font-style: italic;}
em.doubleUnderline {border-bottom: double 3px;}
em.title {font-style: italic;}

strong.label { font-weight: bold; display: block; padding-bottom: 5px; text-indent: -15px;}
span.editorial {color: #999999; font-family: "Courier New", Courier, monospace; }
span.striked {text-decoration: line-through; }
